
<footer class="page-footer font-small blue pt-6">
  <div class="footer-bg">
    <!-- Footer Links -->
    <div class="container-fluid text-center ">

      <!-- Grid row -->
      <div class="row">
      <hr>
      </br>   
	 <!-- Grid column -->
      <div class="col-md-6 col-sm-12">

        <!-- Content -->
        
    <div class="social">
   <p> Subscribe or follow on <p>
    <a href=""><img src="./images/Facebook-icon.png" alt="" /></a>

    <a href="https://www.youtube.com/watch?v=_q5z7hP8zak&list=PLC5SzhYSJEFdazhKn3PTntCfAXtQjFFjQ"><img src="./images/YouTube-icon.png" alt="" /></a>

    <a href=""><img src="./images/Twitter-icon.png" alt="" /></a>

    </div>
    
    </div>

      
        <!-- Grid column -->



        <!-- Grid column -->
        <div class="col-md-3 col-sm-12">

          <!-- Links -->
          <h5 class="text-uppercase"></h5>

          <ul class="list-unstyled">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/profile">Profile</a>
            </li>
            <li>
              <a href="/chatapp">Chat-App</a>
            </li>
            <li>
              <a href="/FAQs">FAQs</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-sm-12">

          <!-- Links -->
          <h5 class="text-uppercase"></h5>

          <ul class="list-unstyled">
            <li>
              <a href="/movies">Movies</a>
            </li>
            <li>
              <a href="#">💀</a>
            </li>
            <li>
              <a href="/shows">Shows</a>
            </li>
            <li>
              <a href="#">💀</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      <p>Copyright © 2020.</p>
      <a href="/"> Travelingseas.net</a>
    </div>
    <!-- Copyright -->
  </div>

  <!-- Bootstrap Scripts-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

   <!--Scripts-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <script src="./scripts/chatapp.js"type="text/javascript"></script>
  <script src="./scripts/profile.js"type="text/javascript"></script>
  </footer>
