.center-box{
  //border:2px dotted black;
  position:relative;
  top:100px;
  bottom:100px;
  margin:auto;
  width:90%;
  min-height:300px;
}

.fixed-bg{
  height:250px;
  background: url("https://media.giphy.com/media/l0Iy69Uy99fMgUvBe/giphy.gif")
  300px fixed no-repeat;
  margin-bottom: 50px;
  background-position: center;

}
.intro{
  position:relative;
  top:20px;
  width:100%;
  //background:white;
  color: white;
  opacity: 1;
  font-size: 25px;
  border: 2px solid white;
  border-radius: 5px;
}
#change {
  margin-top:120px
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.first-char {
  color: #011936;
  float: left;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 25px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}
.card{
  height:400px;
}
@keyframes Designing {
  to {background-color:#922;
      width: 75%;}
}
@keyframes Javascript {
  to {background-color:#478;
      width: 65%;}
}
@keyframes networking {
  to {background-color:#392;
      width: 60%;}
}
